body {
  font-family: 'Fredoka', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color: #d3d0de;
  background-image: url(https://ak.picdn.net/shutterstock/videos/22921138/thumb/1.jpg);
  background-size: cover;
}

#countdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 0;
  height: 70px;
  width: 200px;
}

/* grid for JS Game area */

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
  text-align: center;
  margin: 100px;
}

button {
  left:180px; 
  bottom: 75px;

}

/* css responsive grid */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  background-color: #f0391e;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 50px;
  padding: 0;
}

.menu li {
  padding: 50px;
  margin-bottom: 30px;
  background-color: #f0391e;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #d3d0de;
}

.aside {
  background-color: #f0391e;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 
} 

.aside ul {
  list-style-type: none;
}

.footer {
  background-color: #f0391e;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* Media Queries */


@media only screen and (max-width: 281px) {

  .grid {
  margin: 0px; 
  display: inline;

  }
  .footer {
    display: none;
  }

  button {

    margin-bottom: 275px;
    margin-left: 50px;
    
  }

}

@media only screen and (max-width: 380px) {
  
.grid {
  margin: 0px;
  display:inline;
}
.footer {
font-size: 6px;
}
button {
  margin-left: 120px;
} 
}
@media only screen and (max-width: 415px) {
  
  .grid {
    margin: 0px;
    display:inline;
  }
  button {
    margin-left: 150px;
  } 
  }

  @media only screen and (max-width: 550px) {
  
    .grid {
      margin: 0px;
      display:inline;
    }
    }

@media only screen and (max-width: 780px) {

  button {

    margin-bottom: 350px;
    margin-right: 190px; 
  } 

}

@media only screen and (max-width: 920px) {


  button {

    margin-bottom: 300px;
    margin-right: 90px;
    
  } 

}
@media only screen and (max-width: 1900px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  button {

    margin-bottom: 300px;
    margin-right: 90px;
    
  } 
  .aside {
padding: 80px;
font-size: 20px;
  }

}